<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <table class="login_table">
    <%= form_for(:session, url: login_path) do |f| %>
    <tr><td>
      <%= f.label :login %>
      </td><td>
      <%= f.text_field :login%>
    </td></tr>
    <tr><td>
      <%= f.label :password %>
			</td><td>
      <%= f.password_field :password%>
    </td></tr>
    <tr><td>
      <%= f.submit "Log in"%>
    <% end %>
  </div>
</div>
