<!DOCTYPE html>
<html>
<head>
  <title>KorrKred</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= Gon::Base.render_data %>
</head>
<body>
<%if logged_in?
  user = current_user
  @name_english = user.firstname + " " + user.lastname
  @name_hungarian = user.lastname + " " + user.firstname
  if I18n.locale.to_s == "en"
    name = @name_english
  else
    name = @name_hungarian
  end
end
%>
<% if flash[:success]%>
  <div id="success" class="alert alert-success"><%= flash[:success] %></div>
<% end %>
<% if flash[:notice] %>
  <div id="notice" class="alert alert-warning"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
  <div id="error" class="alert alert-danger"><%= flash[:error] %></div>
<% end %>
<% if !logged_in?%>
  <div class="h"><h1><%=t(:label_title)%></h1></div>
  <div class="language_selection not_logged">
    [
    <%if I18n.locale.to_s == "en"%>
      <%=link_to t(:label_hungarian), change_locale_path(:locale => "hu", :site => request.path)%>
    <%else%>
      <%=link_to t(:label_english), change_locale_path(:locale => "en", :site => request.path)%>
    <%end%>
    ]
  </div>
<%end%>
<%if logged_in?%>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home"> <%=t(:label_title)%></a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li id="nav_button_subjects"><%=link_to t(:label_subjects), subjects_path%></li>
        <li id="nav_button_semesters"><%=link_to t(:label_semesters), semesters_path%></li>
        <li id="nav_logout"><%= link_to t(:label_logout), logout_path%></li>
        <li class="language_selection">
          <%if I18n.locale.to_s == "en"%>
            <%=link_to t(:label_hungarian), change_locale_path(:locale => "hu", :site => request.path)%>
          <%else%>
            <%=link_to t(:label_english), change_locale_path(:locale => "en", :site => request.path)%>
          <%end%>
        </li>
      </ul>
    </div>
  </div>
</nav>


  
<%end%>
<div class="content">
  <%= yield %>
</div>
<div class="footer navbar-nav navbar-default navbar-fixed-bottom">
  <div class="navbar-text">
    <%if logged_in?%>
    <%=t(:label_logged_in_as) + ": " + name%>
    <%end%>
  </div>
</div>
</body>

</html