<!DOCTYPE html>
<html>
<head>
  <title>KorrKred</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= Gon::Base.render_data %>
</head>
<body>
	<h1>
		<%=t(:label_title)%>
	</h1>
	<div class="language_selection">[
		<%if I18n.locale.to_s == "en"%>
			<%=link_to t(:label_hungarian), change_locale_path(:locale => "hu", :site => request.path)%>
		<%else%>
			<%=link_to t(:label_english), change_locale_path(:locale => "en", :site => request.path)%>
		<%end%>
	]</div>

  <div class="logout_div">
    <%= link_to t(:label_logout), logout_path%>
	</div>
  <%= yield %>

</body>
</html>
