<!DOCTYPE html>
<html>
<head>
  <title>KorrKred</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= Gon::Base.render_data %>
</head>
<body>
	<h1>
		<%=t(:label_welcome)%>
	</h1>
<%= yield %>

</body>
</html>
