<%=form_tag(save_subject_path, method: "post") do%>
<div id="new_subject">
  <div class="new_subject_div">
    <div class="new_subject_table_div">
      <div class="input_element">      
        <input type="text" class="new_subject_name" name="subject[name]" title="<%=t(:label_new_subject_name)%>" placeholder="<%=t(:label_new_subject_name)%>"/>

        <input type="number" class="credit" min="0" max="20" name="subject[credit]" title="<%=t(:label_credit)%>" placeholder="<%=t(:label_credit)%>"/>
      </div>
    </div>
  </div>
</div>
<input type="submit" id="save_subject_button" value="<%=t(:label_save_subject)%>"/>
<%end%>
