<%=form_tag(semesters_add_subject_path, method: "post") do%>
<div id="new_subject">
  <div class="paste_subject_div">
    <div class="new_subject_div">
      <div class="input_element">
        <%= select_tag(:subject_id, options_for_select(@all_subjects), class: "subject_selection" ) %>
        <input type="number" class="grade" name="grade" min="1" max="5" value="1" placeholder="<%=t(:label_grade)%>" title="<%=t(:label_grade)%>"/>
      </div>
    </div>
  </div>
</div>
<input type="submit" id="add_subject_button" value="<%=t(:label_add_subject)%>"/>
<%end%>
