<div class="semesters_div">
  <%if !@semesters.empty?
  year = @semesters[0] ? @semesters[0].year : 0%>
  <ul class="list-group">
    <h3><%=@semesters[0].year.to_s%>:</h3>
    <%for semester in @semesters%>
      <%if semester.year != year%>
        <h3><%=semester.year.to_s%>:</h3>
      <%end
      year = semester.year
      %>
      <li class="list-group">
        <%=form_tag(delete_semester_path, method:"post", class: "form_next_to_li") do%>
          <%= link_to semester.title, "/semesters/"+ semester.id.to_s, class: "existing_semesters btn btn-default semester-year-button", title: semester.title %>
          <%=hidden_field_tag 'semester_id', semester.id%>
          <%= submit_tag t(:label_delete),  data: { confirm: t(:label_are_you_sure) },  class: "delete_semester"%>
        <%end%>

      </li>
    <%end%>
  </ul>
  <%end%>
</div>
<%= render partial: "sidebar"%>
<%= render partial: "new_semester"%>
